:root {
  --main-border-size: 50px;
  --main-border-color-right: #ffc300;
  --main-border-color-bottom: #e6b000;
  --main-color: #003cff;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
}

.section-right {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--main-border-color-right);
  -webkit-clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 89%);
  clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 89%);
}

.inner-section-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 11% 100%);
  clip-path: polygon(0 0, 89% 0, 100% 100%, 11% 100%);
}

.content {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.abstract {
  margin-left: 5%;
  margin-top: 2.5%;
  background-color: #fff;
  font-size: 2.5em;
  font-weight: 400;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#shape-bottom {
  font-size: 0px;
  line-height: 0%;
  background-color: var(--main-border-color-bottom);
}

#rectangle-right {
  clear: both;
  width: var(--main-border-size);
  height: 100%;
  background: var(--main-border-color-right);
}

#quote {
  height: 100px;
  width: 100px;
  align-self: center;
  background-color: slategrey;
}

#menu {
  height: 100px;
  width: 100px;
  align-self: flex-end;
  background-color: beige;
}

#design {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}

/*Mobile Styles*/

@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d;
  }
  #content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .abstract {
    margin-left: 25%;
    margin-top: 20%;
    background-color: #fff;
    font-size: 2em;
    font-weight: 400;
  }
  #content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
}

@media only screen and (min-width: 961px) {
  :root {
    --main-border-size: 55px;
  }
}